html, body {
    margin:0px;
    padding: 0px;
    height:100%;
}
ul {
    padding: 0px;
    list-style-type: none;
}

.main{
    height: 100%;
    display: flex;

}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.myNavbar{
    height: 100%;
    // visibility: hidden;
    box-shadow: 0 0 10pt 1pt #D3D3D3;
    -webkit-box-shadow: 0 0 10pt 1pt #D3D3D3;
    -moz-box-shadow: 0 0 10pt 1pt #D3D3D3;
    -webkit-appearance: none;
    width: 300px;
    // width: 0px;
    float:left;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: blue;
    .logo{
        font-size: 32px;
    }
    .profile{
        // align-self: flex-end;
        margin-top: auto;
        // font-size: 32px;
        // width: fit-content;
        // background-color: red;
    }
    ul{
        width: 100%;
        margin-top: 20px;
    }
}

.myNavItem{
    cursor:pointer;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    color: black;
    // width: 100%;
    margin: 0px 15px;
    span{
        padding: 5px; 
    }
    img{
        width: 25px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    &.selected {
        background-image: linear-gradient(to right, #43617e , #131626);
        color: white;
        a{
            text-decoration: none;
            color: white;
        }
    }
    font-weight: bold;
}

.mainContent{
    /* background-color: green; */
    // height: 100%;
    float: right;
    width: 100%;
}