html, body {
    margin:0px;
    padding: 0px;
    height:100%;

}
ul {
    padding: 0px;
}
.main{
    /* background-color: red; */
    height: 100%;
    /* margin:0px; */
}

.myNavbar{
    /* background-color: gray; */
    height: 100%;
    box-shadow: 0 0 10pt 1pt #D3D3D3;
    -webkit-box-shadow: 0 0 10pt 1pt #D3D3D3;
    -moz-box-shadow: 0 0 10pt 1pt #D3D3D3;
    -webkit-appearance: none;    width: 200px;
    float:left;
}

ul {
    list-style-type: none;
}

.myNavItem{
    cursor:pointer;
    /* padding: 10px; */
    /* background-color: red; */
    padding: 10px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color: black;
    /* text-align: center; */
}
.myNavItem img{
    width: 25px;
}
.myNavItem.selected {
    background-image: linear-gradient(to right, #334D66 , #131626);
    color: white;

}

.mainContent{
    /* background-color: green; */
    height: 100%;
}